---
/*
 * Copyright 2026 nuin
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

import { getEntries, render } from 'astro:content';

import { format } from '../../../utils/date';

// Query
import { getAvailableArticles } from '../../../lib/query/articles.query';

// Layouts
import Page from '../../../layouts/Page.astro';

/**
 * 静的パラメータの生成
 *
 * @see https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default
 * @see https://docs.astro.build/en/guides/routing/#dynamic-routes
 * @see https://docs.astro.build/en/reference/routing-reference/#getstaticpaths
 */
export async function getStaticPaths() {
  const articles = await getAvailableArticles();

  return Promise.all(
    articles.map(async (article) => ({
      params: { id: article.id },
      props: { article, tags: await getEntries(article.data.tags) },
    })),
  );
}

const { article, tags } = Astro.props;

const { Content } = await render(article);
const date = format(article.data.publishedAt);
---

<Page title={article.data.title} description={article.data.description}>
  <h1>{article.data.title}</h1>
  <p>Published on: <time datetime={date}>{date?.replaceAll('-', '.') || 'Unpublished'}</time></p>

  <ul>
    {tags.map(({data})=>(
      <>
        <li>{data.name}</li>
      </>
    ))}
  </ul>
  <Content />
</Page>
