---
/*
 * Copyright 2026 nuin
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// Styles
import '../styles/reset.css';
import '../styles/utils.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" type="image/png" href="/apple-icon.png">

    <meta name="generator" content={Astro.generator}>

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link
      rel="stylesheet"
      href="https://fonts.bunny.net/css?family=ibm-plex-sans-jp:500,700|oxanium:500,600,700&display=swap"
    >

    <title>{title}</title>
    <meta name="title" content={title}>
    <meta name="description" content={description}>

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL}>
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    --black: hsl(216, 24%, 8%);
    --black-50: color-mix(in srgb-linear, var(--black), transparent);
    --white: hsl(216, 16%, 92%);
  }

  :root {
    --hdr-ht: 4rem;
    --vh-remain: calc(100dvh - var(--hdr-ht));

    --duration: 0.2s;

    font-size: max(1rem, max(18px, 0.9375vw));
  }

  body {
    background-color: var(--white);
    color: var(--black);

    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 500;
  }

  :global([data-visible="focus"]) {
    padding: 0.5em 1em;

    background-color: inherit;
  }

  :global([data-lang="en"]) {
    font-family: "Oxanium", sans-serif;
  }

  @media (hover: hover) and (pointer: fine) {
    :global([data-anim="blink"]:hover) {
      animation: anim-blink 0.3s;
    }

    @keyframes anim-blink {
      0% {
        opacity: 0.2;
      }
      25% {
        opacity: 1;
      }
      35% {
        opacity: 0.2;
      }
      50%,
      100% {
        opacity: 1;
      }
    }
  }
</style>
